*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "TT Hoves Pro Trial", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
  display: block;
  border-radius: 4px;
}

.section {
  padding: 120px 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

textarea {
  resize: none;
}

ul {
  padding: 0;
  margin: 0;
}

.arrow-icon, .arrow-icon-white {
  margin-left: 12px;
}

.page-header {
  display: flex;
  height: 102px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 60px;
  list-style: none;
}
.menu-link {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
}
.menu-item {
  border: 1px solid transparent;
}
.menu-item:hover {
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
}

.hero {
  display: flex;
  align-items: center;
}
.hero-picture {
  position: relative;
}
.hero-picture-link {
  position: absolute;
  display: block;
  width: 222px;
  height: 71px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  color: var(--gray-1, #333);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.hero-img {
  position: relative;
}
.hero-title {
  color: #bdbdbd;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px; /* 100% */
}
.hero-subtitle {
  color: #333;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 100% */
}
.hero-issues {
  display: flex;
  flex-direction: column;
  gap: 90px;
}
.hero-button {
  border: 1px solid #f2f2f2;
  background: #f9f9f9;
  width: 53px;
  height: 53px;
}
.hero-date {
  color: var(--gray-4, #bdbdbd);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  display: flex;
  gap: 23px;
  align-items: center;
}

.button-panel {
  display: flex;
  gap: 23px;
}

.date-line {
  display: block;
  width: 44px;
  height: 1px;
  background-color: #E0E0E0;
  transform: rotate(-45deg);
}

.about {
  background-color: #fbfbfb;
  display: flex;
  gap: 30px;
}
.about-gallery {
  display: grid;
  grid-template-columns: 270px 270px;
  align-items: center;
  list-style: none;
  gap: 30px;
  padding-left: 100px;
}
.about-gallery-item-first {
  grid-row: 1/1;
  grid-column: 1/1;
}
.about-gallery-item__second {
  grid-row: 1/3;
  grid-column: 2/3;
}
.about-gallery-item-third {
  grid-row: 1/1;
  grid-column: 1/1;
}
.about-desc {
  padding-right: 70px;
}
.about-desc-title {
  color: #bdbdbd;
  font-family: "TT Hoves Pro Trial", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px; /* 100% */
  margin-bottom: 20px;
}
.about-desc-text {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 156.25% */
  margin-bottom: 20px;
}
.about-desc-link {
  width: 222px;
  height: 71px;
  text-decoration: none;
  background-color: #fff;
  color: var(--gray-1, #333);
  font-family: "TT Hoves Pro Trial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.tasks-title {
  color: var(--gray-4, #bdbdbd);
  font-family: "TT Hoves Pro Trial", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
}
.tasks-list {
  display: flex;
  list-style: none;
  gap: 187px;
}
.tasks-item {
  display: flex;
  align-items: center;
}
.tasks-block-title {
  color: #F2F2F2;
  font-family: "SF Pro Display", sans-serif;
  font-size: 200px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.tasks-block-text {
  color: #333;
  font-family: "TT Hoves Pro Trial", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  padding-left: 30px;
  min-width: 279px;
}

.projects-title {
  color: var(--gray-4, #bdbdbd);
  font-family: "TT Hoves Pro Trial", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
  margin-bottom: 60px;
}
.projects-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects-link {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  width: 222px;
  height: 71px;
  background-color: #333;
  text-align: center;
  text-decoration: none;
  margin-top: 30px;
  color: #fff;
  margin-left: auto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.overlay {
  position: relative;
  overflow: hidden;
}
.overlay__container {
  position: absolute;
  opacity: 0.8;
  background-color: #333;
  width: 100%;
  height: 255px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 48px 78px;
}
.overlay__text {
  color: #fff;
  font-family: "TT Hoves Pro Trial", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 100% */
  margin-bottom: 14px;
}
.overlay__link {
  text-decoration: none;
  color: #fff;
  font-family: "TT Hoves Pro Trial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.projects-item:hover .overlay .overlay__container,
.projects-item:focus .overlay .overlay__container {
  transform: translateY(0);
}

.contact {
  padding-bottom: 120px;
}
.contact-title {
  color: var(--gray-4, #bdbdbd);
  font-family: "TT Hoves Pro Trial", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
  margin-bottom: 22px;
}
.contact-container {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
}
.form-field {
  width: 391px;
  height: 46px;
  background-color: #f3f3f3;
  padding: 0;
  outline: none;
  border: none;
  padding-left: 21px;
  padding-top: 15px;
  padding-bottom: 14px;
  margin-bottom: 10px;
}
.form-field:active, .form-field:hover, .form-field:focus {
  outline: 0;
  outline-offset: 0;
}
.form-text {
  width: 391px;
  height: 147px;
  flex-shrink: 0;
  background-color: #f3f3f3;
  outline: none;
  border: none;
  padding-left: 21px;
  padding-top: 15px;
  font-family: "TT Hoves Pro Trial", sans-serif;
  margin-bottom: 22px;
}
.form-button {
  background: var(--gray-1, #333);
  width: 222px;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  color: #fff;
  font-family: "TT Hoves Pro Trial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 21px;
}

.checkbox-text {
  max-width: 331px;
}

.page-footer {
  background: #2c2c2c;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}
.info-text {
  text-decoration: none;
  color: #fff;
  font-family: "TT Hoves Pro Trial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.info-title {
  color: #fff;
  font-family: "TT Hoves Pro Trial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 25px;
}

.adress-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 33px;
}
.adress-link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-family: "TT Hoves Pro Trial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  width: 263px;
}

.social-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
}

.rigths {
  border-top: 1px solid rgba(200, 200, 200, 0.5);
}

.rights-text {
  padding: 24px 0;
  text-align: center;
  color: rgba(133, 132, 132, 0.5);
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
}/*# sourceMappingURL=main.css.map */