*,
*::before,
*::after {
  box-sizing: border-box;
}




body {
  font-family: 'TT Hoves Pro Trial', sans-serif;
  //color: $mainColor;
  font-size: 14px;
  letter-spacing: 0.03em;
  //background-color: var(--second-font-color);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
  display: block;
  border-radius: 4px;
}

.section {
  padding: 120px 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
.header {
  display: flex;
  align-items: center;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

textarea {
  resize: none;
}

ul {
  padding: 0;
  margin: 0;
}

.arrow-icon, .arrow-icon-white{
  margin-left: 12px;
}