$hoverColor:#2196F3;
$mainColor: #000;
$secondFontColor: #BDBDBD;
$buttonColor: #333333;
$secondButtonColor: #fff;
$heroBg: #2F303A;
$teamColor:#F5F4FA;
$contactFooter:#FFFFFF99;
$portfolioLineColor:#ECECEC;
$footerLinks: rgba(255, 255, 255, 0.1);
$transitionDuration: 250ms;
$animationTimingFunction:cubic-bezier(0.4, 0, 0.2, 1);